[Unit]
Description=relay server
After=syslog.target network-online.target

[Service]
PIDFile=/var/run/relay.pid
ExecStart=/usr/local/sbin/relay -config /etc/relay/relay.conf
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
